.SecondaryButton {
  margin: 5px;

  width: 192px;
  height: 40px;

  background: radial-gradient(
      43.22% 39.46% at 49.03% 50.37%,
      #f3a17e 0%,
      #ff7448 100%
    ),
    #f5bb00;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  border: 5px solid #ffffff;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
}

.SecondaryButton p {
  text-transform: uppercase;
  font-size: 1.25em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SecondaryButton:active {
  background: radial-gradient(
      43.22% 39.46% at 49.03% 50.37%,
      #e87a4b 0%,
      #ff4b12 100%
    ),
    #f5bb00;
}
